
.listcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px;
    border-color: black;
    border-radius: 5px;
  }

  .listcard-tableheading {
    background-color: #87d1f5;
    color: blue;
    font-weight: bold;
    font-size: 14px;
  }
  
  .listcard .card-body h6 {
   color: blue;
  }
  
  .listcard .card-footer {
    text-align: start;
    background-color: #ffffff;
    font-size: smaller;
    color: rgb(77, 74, 74);
  }
  
  .listcard .content-heading {
    color: gray;
    font-weight: bold;
  }
  
  .listcard .content-content {
  padding: 5px;
  }