.logo{
    color: white;
    padding: 0px 20px;
    font-size: 14px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    z-index: 999;
    display: flex;
  }
.logoavathar{
    z-index: 999;
    padding-left: 25px;
}